body {
    margin: 0px;
}
img {
    width: 100%;
}
article {
    width: 680px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-size: 40px;
}
h2 {
    color:grey;
    font-family: sans-serif;
}
p {
 font-size: 20px;
 line-height: 1.5;
}
a {
    color: black;
    font-weight: bold;
}